.cards-container {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.new-card {
    padding-left: 20px;
    padding-top: 32px;
    font-family: "Plus Jakarta Sans";
    font-weight: 800;
    font-size: 28px;
}

.texts {
    font-family: "Plus Jakarta Sans";
    padding-left: 20px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #434655
}

.files {
    border: 1px dashed #C3C6D7;
    border-radius: 20px;
    width: 100%;
    max-width: 700px;
    height: 292px;
    min-height: 100px;
    max-height: 300px;
    box-shadow: 0px 1px 2px 0px #0000000D;
    margin-top: 32px;
    margin-bottom: 30px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.association {
    font-family: "Plus Jakarta Sans";
    padding-left: 20px;
    padding-top: 24px;
    font-size: 16px;
    color: #737686;
}

.upload-content p {
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
}

.upload-content span {
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    color: #888;
}

.save {
    font-family: "Plus Jakarta Sans";
    background-color: #004AC6;
    color: #FFFFFF;
    border: none;
    border-radius: 16px;
    height: 56px;
    width: 500px;
    margin: 24px 20px 90px 20px;
    font-size: 16px;
    cursor: pointer;
}

.save:hover {
    background-color: #0040af;
}

.cancel {
    font-family: "Plus Jakarta Sans";
    color: #434655;
    border: none;
    border-radius: 16px;
    height: 56px;
    width: 120px;
    font-size: 16px;
}

.cancel:hover {
    background-color: #c2bfbf;
    color: #fff
}

.study-cards-container {
    display: flex;
    gap: 16px;
}

.stydy-card {
    align-items: center; 
    border: 1px; 
}

.active-flashcard{
    border: 1px solid black;
    border-radius: 16px;
    max-width: 380px;
    width: 100%;
    height: 210px;
    align-items: center;
    margin: 24px auto;
    overflow: hidden;
    position: relative;
}

.active-flashcard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.active-front {
    font-family: "Plus Jakarta Sans";
    font-size: 18px; 
    position: absolute;
    bottom: 0px;
    color: #FFF;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    background: rgba(80, 79, 79, 0.658)
}

.flip {
    color: #191C1E;
    font-family: "Plus Jakarta Sans";
    font-size: 12px; 
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.right-miss {
    display: flex;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.button {
    background: #FFF;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    padding: 16px 34px
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    border-radius: 30px;
    height: 60px;
    width: 60px;
}

.button:hover {
   box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.yes {
    background-color: #009c6b25;
}

.no {
    background-color: #f74e4e4d;
}
